/*************************** 
*Framework 44bool 
***************************/

/* Rule */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}   
/* end Rule */

/* Utility */
.row{
    width: 100%;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

[class*="col-"]{
    float: left;
}
/* end Utility */

/* Column */
.col-1{
    width: calc((100%/44) * 1);
}

.col-2{
    width: calc((100%/44) * 2);
}

.col-3{
    width: calc((100%/44) * 3);
}

.col-4{
    width: calc((100%/44) * 4);
}

.col-5{
    width: calc((100%/44) * 5);
}

.col-6{
    width: calc((100%/44) * 6);
}

.col-7{
    width: calc((100%/44) * 7);
}

.col-8{
    width: calc((100%/44) * 8);
}

.col-9{
    width: calc((100%/44) * 9);
}

.col-10{
    width: calc((100%/44) * 10);
}

.col-11{
    width: calc((100%/44) * 11);
}

.col-12{
    width: calc((100%/44) * 12);
}

.col-13{
    width: calc((100%/44) * 13);
}

.col-14{
    width: calc((100%/44) * 14);
}

.col-15{
    width: calc((100%/44) * 15);
}

.col-16{
    width: calc((100%/44) * 16);
}

.col-17{
    width: calc((100%/44) * 17);
}

.col-18{
    width: calc((100%/44) * 18);
}

.col-19{
    width: calc((100%/44) * 19);
}

.col-20{
    width: calc((100%/44) * 20);
}

.col-21{
    width: calc((100%/44) * 21);
}

.col-22{
    width: 50%;
}

.col-23{
    width: calc((100%/44) * 23);
}

.col-24{
    width: calc((100%/44) * 24);
}

.col-25{
    width: calc((100%/44) * 25);
}

.col-26{
    width: calc((100%/44) * 26);
}

.col-27{
    width: calc((100%/44) * 27);
}

.col-28{
    width: calc((100%/44) * 28);
}

.col-29{
    width: calc((100%/44) * 29);
}

.col-30{
    width: calc((100%/44) * 30);
}

.col-31{
    width: calc((100%/44) * 31);
}

.col-32{
    width: calc((100%/44) * 32);
}

.col-33{
    width: calc((100%/44) * 33);
}

.col-34{
    width: calc((100%/44) * 34);
}

.col-35{
    width: calc((100%/44) * 35);
}

.col-36{
    width: calc((100%/44) * 36);
}

.col-37{
    width: calc((100%/44) * 37);
}

.col-38{
    width: calc((100%/44) * 38);
}

.col-39{
    width: calc((100%/44) * 39);
}

.col-40{
    width: calc((100%/44) * 40);
}

.col-41{
    width: calc((100%/44) * 41);
}

.col-42{
    width: calc((100%/44) * 42);
}

.col-43{
    width: calc((100%/44) * 43);
}

.col-44{
    width: 100%;
}
/* end Column */