/* Color */
.black{
    background-color: #111111;
}

.red{
    background-color: #cd0c29;
}

.blue{
    background-color: #00339a;
}

.brown{
    background-color: #584321;
}

.skin{
    background-color: #d9c786;
}

.yellow{
    background-color: #fefa00;
}
/* end Color */

header, footer{
    height: 150px;
    width: 100%;
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    text-align: center;
    color: #2a2a2a;
    padding-top: 50px;
    text-shadow: 5px 5px #777676d1;
}

.row [class*="col-"]{
    height: 85px;
}
